{
  "openapi": "3.1.0",
  "info": {
    "title": "EchoDevo Coach API",
    "description": "TrainingPeaks integration API for EchoDevo Coach GPT - Provides athlete data, workout history, and training metrics for AI coaching analysis",
    "version": "2.0.0",
    "contact": {
      "name": "EchoDevo Support",
      "url": "https://www.echodevo.com"
    }
  },
  "servers": [
    {
      "url": "https://3000-i8mf68r87mlc4fo6mi2yb-c07dda5e.sandbox.novita.ai",
      "description": "EchoDevo Sandbox Environment"
    }
  ],
  "paths": {
    "/api/gpt/fetch": {
      "post": {
        "operationId": "fetchAthleteData",
        "summary": "Fetch athlete training data from TrainingPeaks",
        "description": "Retrieves comprehensive athlete data including workouts, metrics (CTL/ATL/TSB), and wellness data for the specified date range. This is the primary data source for all coaching analysis.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["athlete_id", "start_date", "end_date"],
                "properties": {
                  "athlete_id": {
                    "type": "string",
                    "description": "TrainingPeaks athlete ID",
                    "example": "427194"
                  },
                  "start_date": {
                    "type": "string",
                    "format": "date",
                    "description": "Start date for data fetch (YYYY-MM-DD)",
                    "example": "2026-01-01"
                  },
                  "end_date": {
                    "type": "string",
                    "format": "date",
                    "description": "End date for data fetch (YYYY-MM-DD)",
                    "example": "2026-01-09"
                  },
                  "include_planned": {
                    "type": "boolean",
                    "description": "Include planned (future) workouts",
                    "default": false
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved athlete data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AthleteDataResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters"
          },
          "401": {
            "description": "Unauthorized - Invalid or expired token"
          },
          "404": {
            "description": "Athlete not found"
          },
          "500": {
            "description": "Server error"
          }
        }
      }
    },
    "/api/gpt/write": {
      "post": {
        "operationId": "writeWorkoutPlan",
        "summary": "Write workout plan to TrainingPeaks",
        "description": "Posts prescribed workouts to athlete's TrainingPeaks calendar. Includes workout structure, zones, duration, and coaching notes.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["athlete_id", "workouts"],
                "properties": {
                  "athlete_id": {
                    "type": "string",
                    "description": "TrainingPeaks athlete ID"
                  },
                  "workouts": {
                    "type": "array",
                    "description": "Array of workouts to post",
                    "items": {
                      "$ref": "#/components/schemas/WorkoutPrescription"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Workouts successfully written",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "success"
                    },
                    "workouts_created": {
                      "type": "integer",
                      "example": 5
                    },
                    "workout_ids": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid workout data"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Server error"
          }
        }
      }
    },
    "/api/gpt/athletes": {
      "get": {
        "operationId": "listAthletes",
        "summary": "List all athletes (Coach Mode)",
        "description": "Returns list of all athletes connected to the coach account. Only available in coach mode.",
        "responses": {
          "200": {
            "description": "List of athletes",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "athletes": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/AthleteSummary"
                      }
                    },
                    "total": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Not authorized as coach"
          },
          "500": {
            "description": "Server error"
          }
        }
      }
    },
    "/api/gpt/metrics/calculate": {
      "post": {
        "operationId": "calculateMetrics",
        "summary": "Calculate CTL/ATL/TSB from workout history",
        "description": "Computes training stress metrics using EWMA algorithm if not provided by TrainingPeaks. Use this when CTL/ATL/TSB data is missing.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["athlete_id", "workouts"],
                "properties": {
                  "athlete_id": {
                    "type": "string"
                  },
                  "workouts": {
                    "type": "array",
                    "description": "Historical workouts with TSS values",
                    "items": {
                      "type": "object",
                      "properties": {
                        "date": {
                          "type": "string",
                          "format": "date"
                        },
                        "tss": {
                          "type": "number"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Calculated metrics",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ctl": {
                      "type": "number"
                    },
                    "atl": {
                      "type": "number"
                    },
                    "tsb": {
                      "type": "number"
                    },
                    "calculated_date": {
                      "type": "string",
                      "format": "date"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "AthleteDataResponse": {
        "type": "object",
        "properties": {
          "athlete": {
            "$ref": "#/components/schemas/Athlete"
          },
          "metrics": {
            "$ref": "#/components/schemas/Metrics"
          },
          "workouts": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Workout"
            }
          },
          "date_range": {
            "type": "object",
            "properties": {
              "start": {
                "type": "string",
                "format": "date"
              },
              "end": {
                "type": "string",
                "format": "date"
              }
            }
          }
        }
      },
      "Athlete": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "TrainingPeaks athlete ID"
          },
          "name": {
            "type": "string",
            "description": "Athlete full name"
          },
          "email": {
            "type": "string"
          },
          "sport": {
            "type": "string",
            "enum": ["triathlon", "cycling", "running", "swimming"],
            "description": "Primary sport"
          },
          "ftp": {
            "type": "number",
            "description": "Functional Threshold Power (watts) for cycling",
            "nullable": true
          },
          "cp": {
            "type": "number",
            "description": "Critical Power (watts) for cycling",
            "nullable": true
          },
          "cs": {
            "type": "number",
            "description": "Critical Speed (m/min) for running",
            "nullable": true
          },
          "lactate_threshold_hr": {
            "type": "integer",
            "description": "Lactate threshold heart rate",
            "nullable": true
          },
          "weight_kg": {
            "type": "number",
            "nullable": true
          },
          "age": {
            "type": "integer",
            "nullable": true
          }
        }
      },
      "Metrics": {
        "type": "object",
        "properties": {
          "ctl": {
            "type": "number",
            "description": "Chronic Training Load (Fitness)"
          },
          "atl": {
            "type": "number",
            "description": "Acute Training Load (Fatigue)"
          },
          "tsb": {
            "type": "number",
            "description": "Training Stress Balance (Form)"
          },
          "hrv": {
            "type": "number",
            "description": "Heart Rate Variability (RMSSD)",
            "nullable": true
          },
          "rhr": {
            "type": "integer",
            "description": "Resting Heart Rate",
            "nullable": true
          },
          "weight_kg": {
            "type": "number",
            "nullable": true
          },
          "sleep_hours": {
            "type": "number",
            "nullable": true
          },
          "sleep_quality": {
            "type": "integer",
            "minimum": 1,
            "maximum": 10,
            "nullable": true
          },
          "readiness_score": {
            "type": "integer",
            "minimum": 0,
            "maximum": 100,
            "nullable": true
          }
        }
      },
      "Workout": {
        "type": "object",
        "properties": {
          "date": {
            "type": "string",
            "format": "date"
          },
          "sport": {
            "type": "string",
            "enum": ["bike", "run", "swim", "brick", "strength", "other"]
          },
          "title": {
            "type": "string"
          },
          "description": {
            "type": "string",
            "nullable": true
          },
          "duration": {
            "type": "integer",
            "description": "Duration in minutes"
          },
          "distance": {
            "type": "number",
            "description": "Distance in kilometers",
            "nullable": true
          },
          "tss": {
            "type": "number",
            "description": "Training Stress Score"
          },
          "if": {
            "type": "number",
            "description": "Intensity Factor",
            "nullable": true
          },
          "np": {
            "type": "number",
            "description": "Normalized Power (bike)",
            "nullable": true
          },
          "avg_power": {
            "type": "number",
            "description": "Average power in watts",
            "nullable": true
          },
          "avg_hr": {
            "type": "integer",
            "description": "Average heart rate",
            "nullable": true
          },
          "avg_pace": {
            "type": "string",
            "description": "Average pace (min/km or min/mi)",
            "nullable": true
          },
          "elevation_gain": {
            "type": "number",
            "description": "Elevation gain in meters",
            "nullable": true
          },
          "completed": {
            "type": "boolean",
            "description": "Whether workout was completed"
          },
          "planned": {
            "type": "boolean",
            "description": "Whether this is a planned (future) workout"
          }
        }
      },
      "WorkoutPrescription": {
        "type": "object",
        "required": ["date", "sport", "title", "description", "duration", "tss"],
        "properties": {
          "date": {
            "type": "string",
            "format": "date",
            "description": "Workout date"
          },
          "sport": {
            "type": "string",
            "enum": ["bike", "run", "swim", "brick", "strength"]
          },
          "title": {
            "type": "string",
            "description": "Workout title"
          },
          "description": {
            "type": "string",
            "description": "Detailed workout description with zones and intervals"
          },
          "duration": {
            "type": "integer",
            "description": "Target duration in minutes"
          },
          "tss": {
            "type": "number",
            "description": "Target Training Stress Score"
          },
          "zones": {
            "type": "object",
            "description": "Zone targets for the workout",
            "properties": {
              "warmup": {
                "type": "string",
                "example": "Z2"
              },
              "main": {
                "type": "string",
                "example": "Z4"
              },
              "cooldown": {
                "type": "string",
                "example": "Z1-Z2"
              }
            }
          },
          "intervals": {
            "type": "array",
            "description": "Interval structure",
            "items": {
              "type": "object",
              "properties": {
                "duration": {
                  "type": "integer",
                  "description": "Interval duration in minutes"
                },
                "intensity": {
                  "type": "string",
                  "description": "Zone or % threshold",
                  "example": "95-105% CP"
                },
                "reps": {
                  "type": "integer",
                  "description": "Number of repetitions"
                },
                "recovery": {
                  "type": "integer",
                  "description": "Recovery time in minutes"
                }
              }
            }
          },
          "coach_notes": {
            "type": "string",
            "description": "Additional coaching guidance"
          },
          "fueling": {
            "type": "object",
            "description": "Fueling recommendations",
            "properties": {
              "pre": {
                "type": "string",
                "example": "30g CHO 60min before"
              },
              "during": {
                "type": "string",
                "example": "60-90g CHO/hr"
              },
              "post": {
                "type": "string",
                "example": "40g CHO + 15g Protein within 30min"
              }
            }
          }
        }
      },
      "AthleteSummary": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "email": {
            "type": "string"
          },
          "sport": {
            "type": "string"
          },
          "current_ctl": {
            "type": "number",
            "nullable": true
          },
          "current_atl": {
            "type": "number",
            "nullable": true
          },
          "current_tsb": {
            "type": "number",
            "nullable": true
          },
          "last_workout": {
            "type": "string",
            "format": "date",
            "nullable": true
          },
          "current_block": {
            "type": "string",
            "enum": ["base", "build", "vo2", "specificity", "rebuild", "hybrid"],
            "nullable": true
          }
        }
      }
    }
  }
}
